# Ignore everything inside the following folders, but not the folders themselves
escrow-sdk/node_modules/*
!escrow-sdk/node_modules/.gitkeep

Polkadot/escrow/target/*
!Polkadot/escrow/target/.gitkeep

Polkadot/ink-node-mac/*
!Polkadot/ink-node-mac/.gitkeep


EVM/cache/*
!EVM/cache/.gitkeep

EVM/broadcast/*
!EVM/broadcast/.gitkeep

EVM/out/*
!EVM/out/.gitkeep

# Ignore all .DS_Store files anywhere
**/.DS_Store

